Repository ericcornelissen/js-regex-security-scanner, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, test, security

Bump transitive (dev)dependencies
  package-lock.json
Labels: dependencies

Update OSS license allowlist
  .licensee.json
  CONTRIBUTING.md
Labels: none

Bump Node.js from 18 to 20
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/reusable-audit.yml
  CONTRIBUTING.md
  Dockerfile
  package-lock.json
  package.json
Labels: ci, dependencies

Update syft to 0.79.0
  .tool-versions
Labels: dependencies

Update grype to 0.61.1
  .tool-versions
Labels: dependencies

Update yamllint to 1.31.0
  .tool-versions
Labels: dependencies

Update the changelog
  CHANGELOG.md
Labels: none

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: ci

Update cosign to 2.0.2
  .tool-versions
Labels: dependencies

Remove blanket approval of `GPL-2.0-(only|or-later)`
  .licensee.json
  CONTRIBUTING.md
  scripts/check-licenses.js
Labels: none

Add unnecessary license correction check
  scripts/check-licenses.js
Labels: none

Update the Security Policy
  SECURITY.md
Labels: security

Base corrections on id rather than name
  scripts/check-licenses.js
Labels: none

Include commit SHA in the container scan artifact name
  .github/workflows/reusable-audit.yml
Labels: ci

Update egress policies for jobs installing tooling with asdf
  .github/workflows/check.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/reusable-audit.yml
Labels: ci

Add and use `.nvmrc`
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/reusable-audit.yml
  .nvmrc
Labels: ci

Make `mkdir` invocation POSIX compliant
  Makefile
Labels: none

Use fixed Node.js when auditing the v0 ref
  .github/workflows/reusable-audit.yml
Labels: ci

Use _current_ commit SHA in the container scan artifact name
  .github/workflows/reusable-audit.yml
Labels: ci

Add explicit license for documentation
  README.md
Labels: documentation

Rescope corrections to `(name, foundBy)`
  scripts/check-licenses.js
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update syft to 0.80.0
  .tool-versions
Labels: dependencies

Correct version comment for `step-security/harden-runner`
  .github/workflows/check.yml
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/reusable-audit.yml
Labels: ci

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Ignore CVE-2023-1255
  .grype.yml
Labels: none

Update yamllint to 1.32.0
  .tool-versions
Labels: dependencies

Update grype to 0.62.0
  .tool-versions
Labels: dependencies

Update syft to 0.81.0
  .tool-versions
Labels: dependencies

Enable new yamllint option for `anchors` rule
  .yamllint.yml
Labels: none

Update license-check-image script for Syft v0.81.0
  scripts/check-licenses.js
Labels: none

Update syft to 0.82.0
  .tool-versions
Labels: dependencies

Update grype to 0.62.1
  .tool-versions
Labels: dependencies

Update grype to 0.62.2
  .tool-versions
Labels: dependencies

Add guide to migrate from this scanner to eslint-plugin-regexp
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions
  - package-lock.json

documentation:
  - README.md

test:
  - testdata/**
  - testdata/**/*
  - tests/**
  - tests/**/*

security:
  - SECURITY.md
