Repository ericcornelissen/js-regex-security-scanner, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, test, security

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Use SPDX schema SBOM for image auditing
  .github/workflows/reusable-audit.yml
  .gitignore
  .syft.yml
  CONTRIBUTING.md
  Makefile
  scripts/check-licenses.js
Labels: ci

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Correct replacement logic for getting major version from a version tag
  .github/workflows/publish.yml
Labels: ci

Update .tool-versions
  .tool-versions
Labels: dependencies

Update transitive runtime dependencies
  package-lock.json
Labels: dependencies

Update the changelog
  CHANGELOG.md
Labels: none

Update the changelog
  CHANGELOG.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Labels: none

Ignore CVE-2023-2975 and CVE-2023-3446
  .grype.yml
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Unignore CVE-2023-2975 and CVE-2023-3446
  .grype.yml
Labels: none

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Harden publish workflow
  .github/workflows/publish.yml
Labels: ci

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Harden check workflow
  .github/workflows/check.yml
Labels: ci

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Use environment for deployment to Docker hub
  .github/workflows/publish.yml
Labels: ci

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions
  - package-lock.json

documentation:
  - README.md

test:
  - testdata/**
  - testdata/**/*
  - tests/**
  - tests/**/*

security:
  - SECURITY.md
