Repository ericcornelissen/js-regex-security-scanner, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, test, security

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions
  - package-lock.json

documentation:
  - README.md

test:
  - testdata/**
  - testdata/**/*
  - tests/**
  - tests/**/*

security:
  - SECURITY.md

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Ignore CVE-2023-4807
  .grype.yml
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Try `asdf-vm/action` on Node.js v20
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/reusable-audit.yml
Labels: ci

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Unignore CVE-2023-480
  .grype.yml
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Ignore CVE-2023-44487
  .grype.yml
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Ignore CVE-2023-5363
  .grype.yml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update yamllint configuration
  .yamllint.yml
Labels: none

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none
