Repository ericcornelissen/js-regex-security-scanner, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, test, security

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update syft to 0.83.0
  .tool-versions
Labels: dependencies

Update grype to 0.62.3
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Ignore CVE-2023-2650
  .grype.yml
Labels: none

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Bump alpine from 3.17 to 3.18
  .grype.yml
  Dockerfile
  scripts/check-licenses.js
Labels: none

Update the changelog
  CHANGELOG.md
Labels: none

Post release CI updates
  .github/workflows/publish.yml
  .github/workflows/reusable-audit.yml
Labels: ci

Update whole word matching logic in image licenses check script
  scripts/check-licenses.js
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update syft to 0.83.1
  .tool-versions
Labels: dependencies

Update actionlint to 1.6.25
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update syft to 0.84.0
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Unignore CVE-2023-2650
  .grype.yml
Labels: none

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Update grype to 0.63.0
  .tool-versions
Labels: dependencies

Bump semver from v7.3.8 to v7.5.3
  package-lock.json
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Add missing periods to changelog entries
  CHANGELOG.md
Labels: none

Replace homegrown tooling updates by dedicated action
  .github/workflows/nightly.yml
Labels: ci

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Bump transitive dependency optionator
  package-lock.json
Labels: dependencies

Update the changelog
  CHANGELOG.md
Labels: none

Move Semgrep into separate workflow
  .github/workflows/check.yml
  .github/workflows/semgrep.yml
Labels: ci

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Version bump
  CHANGELOG.md
  Dockerfile
Labels: none

Update egress policy for publishing to Docker Hub
  .github/workflows/publish.yml
Labels: ci

Rename secrets for automation purposes
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: ci

Align titles in README.md on using sentence case
  README.md
Labels: documentation

Apply labels to tooling update Pull Requests
  .github/workflows/nightly.yml
Labels: ci

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions
  - package-lock.json

documentation:
  - README.md

test:
  - testdata/**
  - testdata/**/*
  - tests/**
  - tests/**/*

security:
  - SECURITY.md
