Repository ericcornelissen/js-regex-security-scanner, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dependencies, documentation, test, security

.github/labeler.yml:

# Check out Labeler at: https://github.com/actions/labeler

ci:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml

dependencies:
  - .tool-versions
  - package-lock.json

documentation:
  - README.md

test:
  - testdata/**
  - testdata/**/*
  - tests/**
  - tests/**/*

security:
  - SECURITY.md

Rename `Dockerfile` to `Containerfile`
  .github/dependabot.yml
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Containerfile
  Makefile
  README.md
  RELEASE.md
  scripts/bump-changelog.js
  scripts/bump-version.js
Labels: ci, documentation

Remove `.dockerignore`
  .dockerignore
  Containerfile
  Makefile
Labels: none

Adopt SPDX license identifiers for file-level license details
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  SECURITY.md
  scripts/bump-changelog.js
  scripts/bump-version.js
  scripts/check-licenses.js
  tests/main.test.js
Labels: documentation, test, security

Update .tool-versions
  .tool-versions
Labels: dependencies

Ignore CVE-2023-5678
  .grype.yml
Labels: none

Configure default assignee for bot PRs
  .github/dependabot.yml
  .github/workflows/nightly.yml
Labels: ci

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Update .tool-versions
  .tool-versions
Labels: dependencies

Ignore CVE-2023-4236(3|4|5|6)
  .grype.yml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update .tool-versions
  .tool-versions
Labels: dependencies

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none
